body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
  margin-left: 15%;
  margin-top: 2vh;
}

.container input {
    border-radius: 15px;
    width: 80%;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc; /* Default border color */
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block; /* Ensure the error message does not cause layout issues */
    position: relative;
  }
  
  .input-error {
    border-color: red;
  }
  
  .container.error {
    margin-bottom: 10px; /* Добавьте отступ при отображении ошибки */
  }

  .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.reg-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.img {
	width: 100px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 2vw;
  width: 8vw;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	transition: background .2s linear;
  text-align: center;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}
